.card {
  max-width: 300px;
}

.card-image {
  width: 260px;
  height: 200px;
}

.title {
  color: #5d5d5d;
  margin: 24px 0;
}

span {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
}

.mat-form-field {
  width: 100%;
}

.description {
  font-size: 14px;
  color: #5d5d5d;
}
.button-text {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.button-view {
  background-color: #868181;
  color: rgb(255, 255, 255);
}

.button-devolution {
  background-color: #4682b4;
  color: #fff;
}

.paginacao {
  margin: 24px 0;
}

.price {
  font-weight: bold;
}

button {
  outline: none;
}

.button-search {
  margin-bottom: 20px;
  background-color: #4682b4;
}

.button-clear {
  margin-bottom: 20px;
  background-color: #868181;
}

.ball-status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: -webkit-inline-box !important;
  display: inline-flex !important;
  background-color: lightgrey;
  vertical-align: middle;
  margin-right: 12px;
}

.button-provider {
  background-color: #4682b4;
  color: white;
}

.mat-card-actions .mat-raised-button {
  margin: 0;
}
