<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div fxFlex="60">
        <mat-form-field appearance="outline">
            <mat-label class="myriad">Nome do Produto</mat-label>
            <input [(ngModel)]="inputSearch" matInput class="myriad" placeholder="Por favor, digite o nome do produto"
                (keyup.enter)="findProduct()">
            <mat-icon class="cinza" matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div fxFlex>
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="statusSelected">
                <mat-select-trigger *ngIf="statusSelected">
                    <span matPrefix class="ball-status" [ngStyle]="{'background-color': statusSelected.color}"></span>
                    {{statusSelected.name}}
                </mat-select-trigger>
                <mat-option *ngFor="let status of status" [value]="status">
                    <span matPrefix class="ball-status" [ngStyle]="{'background-color': status.color}"></span>
                    {{status.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div fxLayoutAlign="center center" fxLayoutGap="24px">
    <button (click)="clearInputs()" mat-fab class="button-clear">
        <mat-icon matSuffix>clear</mat-icon>
    </button>

    <button (click)="findProduct()" mat-fab class="button-search">
        <mat-icon matSuffix>search</mat-icon>
    </button>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px">
    <mat-card fxFlex class="card"
        *ngFor="let product of products | paginate: { itemsPerPage: itensPorPagina, currentPage: actualPage }; let i = index">
        <mat-card-header>
            <mat-card-title>
                <span class="title myriad">
                    <div fxLayoutAlign="start center">
                        <span matPrefix class="ball-status"
                            [ngStyle]="{'background-color': getStatus(product.status).color }"></span>
                        {{ product.name }}
                    </div>
                </span>
            </mat-card-title>
            <mat-card-subtitle><span class="title myriad">Pedido: {{ product.order }}</span></mat-card-subtitle>
        </mat-card-header>
        <img class="card-image" mat-card-image [src]="product.picture" alt="...">
        <mat-card-content>
            <div>
                <mat-label class="myriad cinza">{{ product.description }}</mat-label>
            </div>

        </mat-card-content>
        <div fxLayoutAlign="end end">
            <mat-label class="price cinza">
                <span class="myriad"> Preço: </span>
                <span class=" myriad">{{ product.price  | currency:'BRL':'symbol':'1.2-2' }}</span>
            </mat-label>
        </div>
        <mat-card-actions fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="20" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                <button [disabled]="product.status !== statusEntregue" mat-raised-button fxFlex="40"
                    (click)="produtoSelecionado(product)" class="button-devolution button-text myriad"
                    matStepperNext>Devolver</button>
                <button mat-raised-button fxFlex="40" class="button-view button-text myriad"
                    (click)="viewProduct(product)">Visualizar</button>
            </div>
            <div fxFlex="20" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                <button mat-raised-button fxFlex="40" (click)="openDialog(product.id)"
                    class="button-text button-provider myriad">Fornecedor</button>
                <button [disabled]="!(product.status === statusPago || product.status === statusAguardandoPagamento)"
                    mat-raised-button fxFlex="40" class="button-view button-text myriad"
                    (click)="viewProduct(product)">Cancelar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
<div class="paginacao" fxLayoutAlign="center center">
    <pagination-controls class="myriad" (pageChange)="actualPage = $event" previousLabel="Anterior" nextLabel="Próximo"
        responsive="true">
    </pagination-controls>
</div>