<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px">
    <mat-card fxFlex="100" class="card" *ngFor="let product of products">
        <mat-card-title fxFlex="10" class="title"> {{ product.name }} </mat-card-title>
        <div fxFlex="30" fxLayoutAlign="center center">
            <img class="card-image" mat-card-image [src]="product.picture" alt="...">
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around start">
            <p>
                {{ product.description }}
            </p>

            <div>
                <mat-label>
                    Preço: {{ product.price }}
                </mat-label>
            </div>
        </mat-card-content>
        <mat-card-actions fxFlex="20" fxLayoutAlign="end end">
            <button mat-raised-button class="button-devolution button-text" matStepperNext>Devolver</button>
            <button mat-raised-button class="button-view button-text">Visualizar</button>
        </mat-card-actions>
    </mat-card>
</div>