<div class="row">
    <div fxFlex="50" >
        <div fxLayoutAlign="center center">
            <mat-card fxFlex="70" class="card">
                <mat-card-title fxFlex="10" class="title"> {{ product.name }} </mat-card-title>
                <div fxFlex="30" fxLayoutAlign="center center">
                    <img class="card-image" mat-card-image [src]="product.picture" alt="...">
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="space-around start">
                    <p>
                        {{ product.description }}
                    </p>

                    <div>
                        <mat-label>
                            Preço: {{ product.price }}
                        </mat-label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayoutAlign="center center" class="margin-y-16">
            <button fxFlex="70" class="button-text button-provider" mat-raised-button>Contatar fornecedor</button>
        </div>
    </div>

    <div fxFlex="50">
        <div class="modo-devolucao">
            <h2>Modo de devolução</h2>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="modoDevolucao">
                <mat-radio-button class="example-radio-button">
                    Loja física
                </mat-radio-button>

                <mat-radio-button class="example-radio-button">
                    Transportadora
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="forma-reembolso">
            <h2>Forma de reembolso</h2>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="formaReembolso">
                <mat-radio-button class="example-radio-button">
                    Receber meu dinheiro de volta
                </mat-radio-button>

                <mat-radio-button class="example-radio-button">
                    Um voucher para comprar no site
                </mat-radio-button>

                <mat-radio-button class="example-radio-button">
                    Quero o mesmo produto
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="motivo-devolucao">
            <h2>Motivo da devolução</h2>
            <textarea rows="4"></textarea>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
            <div fxFlex="49">
                <button mat-raised-button class="w-100 mt-3">Enviar evidências</button>
            </div>
            <div fxFlex="49">
                <button mat-raised-button color="primary" class="w-100 mt-3" matStepperNext>Confirmar</button>
            </div>
        </div>
    </div>
</div>