<mat-toolbar>
  <span class="container">6MKT</span>
</mat-toolbar>
<div class="container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="myProductsFormGroup">
      <ng-template matStepLabel>Meus Pedidos</ng-template>
      <app-list-my-produts (productEmitter)="outputProduct($event)" required></app-list-my-produts>
    </mat-step>
    <mat-step [stepControl]="devolutionFormGroup">
      <ng-template matStepLabel>Formulário de devolução</ng-template>
      <app-form-devolution [formEdit]="form" (formEmitter)="outputForm($event)"></app-form-devolution>
    </mat-step>
    <mat-step [stepControl]="confirmationFormGroup">
      <ng-template matStepLabel>Confirmação</ng-template>
      <app-read-confirmation [formReadOnly]="form"></app-read-confirmation>
    </mat-step>
    <mat-step [stepControl]="analyzeFormGroup">
      <ng-template matStepLabel>Análise</ng-template>
      <app-analyze-item></app-analyze-item>
    </mat-step> 
  </mat-horizontal-stepper>
</div>