.container {
    max-width:1200px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.product .mat-card-image:first-child {
    margin: 0;
}

.product h2 {
    padding:0 10px;
    margin-bottom:0;
    font-size:16px;
}

.product ul {
    margin:0px;
}

.product-description {
    padding:5px 10px 0;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}

textarea {
    width:100%;
    outline:none;
    padding:10px;
    font-size:12px;
}