<div fxflex fxLayoutAlign="center center" fxLayout="column" class="mt-50">
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-label fxLayout="row" class="myrad cinza fz25">Estamos analisando o seu pedido de devolução do item abaixo.</mat-label>
        <mat-label fxLayout="row" class="myrad cinza fz25 mt-10"> Em breve você receberá um e-mail com o resultado.</mat-label>
    </div>

    <div class="etiqueta mt-50 myrad cinza">
        <h2 class="title" fxLayoutAlign="center center">6MKT</h2>
        <div>
            <span class="ticket-title">Produto: </span><span>{{formReadOnly.product.name}}</span>
        </div>
        <div class="mt-10">
            <span class="ticket-title">Motivo: </span><span>{{formReadOnly.description}}</span>
        </div>
        <div class="mt-10">
            <span class="ticket-title">Data da Solicitação: </span><span>{{date | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
        <div class="mt-10">
            <span class="ticket-title">Link: </span><span>https://bit.ly/2WaSqr4</span>
        </div>
    </div>
</div>