.mt-50 {
  margin-top: 50px;
}

.fz25 {
  font-size: 20px;
}

.etiqueta {
  border: 1px solid  #5d5d5d;
  border-radius: 15px;
  width: 300px;
  padding: 24px;
}

.ticket-title {
    font-weight: bold;
  letter-spacing: 0.14px;
}

.title {
  font-weight: bold;
}

.mt-10 {
  margin-top: 10px;
}
